/* Universal Selectors */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color:white;
}

header{
    padding: 20px;
    font-family: 'Raleway';
    color: black;
}

/* want to use custom font in project. Downloaded fonts in ../fonts and linked through src:url */

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-ExtraLight.ttf') format('truetype');
}

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-left: 25px;
}