/* Universal Selectors */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family:'Raleway';
    color: black;
    margin: 0;
}

/* want to use custom font in project. Downloaded fonts in ../fonts and linked through src:url */
/*@font-face specifies the font data */

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-ExtraLight.ttf') format('truetype');
}

header {
    display: flex;
    /* Defines how to distribute the empty space between child elements */
    justify-content: space-between;
    padding: 15px;
    color: black;
    background-color: grey;
}

/* navigation on the lefthand side */
nav {
    display: flex;
    /* Forces elements to the next line if they don't fit */
    flex-wrap: wrap;
    margin-right: 10px;
    font-family: 'Raleway';
    font-size: 15px;
}

/*hover color for links*/
nav a:hover {
    color: darkgrey;
  }

.kebab {
/*changes cursor*/
  cursor: point er;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 16px;
  top: 12px;
}

.links {
display: none;
padding: 1% 0;
}



/*turns element into a flexbox */
/*flexwrap forces elements to the next line if they don't fit */
main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3%;
    justify-content: space-between;
}

/* card class will be used for images */
.card {
     /* A flex-basis of 200px sets the starting width */
    /* A flex-grow value of 1 allows the elements to evenly grow to fill the remaining space */
    /* The second value, flex-shrink, defines how the element will shrink if it can't fit */
    flex: 1 0 200px;
    padding: 0px;
    border-style: solid;
    border-width: 1px;

  }

.card img {
    width: 100%;
    min-width: 400px;
    object-fit: contain;
    margin-top: 0;
}

footer {
    background-color:grey;
    text-align: center;
}


/* Image Placeholders */
/*.sample-img {
    background-color: #fff;
    width: 100%;
    padding: 20px;
    height: 200px;
    border: 1px solid black;
  } */

/* When using `max-width` as the breakpoint, you must go from widest to narrowest to avoid conflict */

/* Tablets*/
/* Cards are split into two columns at 992px or smaller */
@media screen and (max-width: 992px) {
    .card {
        width: 50%;
      }
  }
  
  /* Large smartphones */
  /* Cards are stacked on top of each other at 768px or smaller */
  @media screen and (max-width: 768px) {
    .card {
        width: 100%;
      }
  }








  /* Kebab styling

.kebab {
  cursor: pointer;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 16px;
  top: 12px;
  figure {
    width: 6px;
    height: 6px;
    border-radius: 5px;
    background: $cyan;
    margin: 3px 0;
  }
}

.middle {
  transition: all 0.25s $cubic-in;
  transform: scale(1);
  position: relative;
  box-shadow: 0 0.1px 0.1px 0 rgba(0, 0, 0, 0.16), 0 0.1px 0.3px 0 rgba(0, 0, 0, 0.12);
  -webkit-filter: blur(.1px);
  filter: blur(.1px);
}

.middle.active {
  transform: scale(4.5);
  transition: all 0.25s $cubic-out;
  box-shadow: 0 0.1px 0.1px 0 rgba(0, 0, 0, 0.16), 0 0.1px 0.3px 0 rgba(0, 0, 0, 0.12);
}

.cross {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  margin-top: -1px;
  font-family: $nunito;
  color: white;
  transition: all 0.2s $cubic-in;
  font-size: 22px;
  user-select: none;
}

.cross.active {
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.15s $cubic-out;
}

*/